<section
  class="container grid grid-cols-12 mx-4 h-screen grid-rows-5 grid-flow-col"
>
  <header class="header col-span-full z-10 row-auto my-2 mx-6">
    <nav class="flex justify-between align-middle">
      <div>
        <a class="py-2" href=""
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="40"
            width="44"
            viewBox="0 0 640 512"
          >
            <path
              fill="#4dde80"
              d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3 .8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2 .6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7 .8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"
            ></path></svg
        ></a>
      </div>
      <ul class="menu py-2">
        <li>
          <a
            class="bg-clip-content p-6 bg-transparent border-4 border-green-400 border-dashed text-white rounded-md px-2 py-1 my-0 text-lg font-medium align-baseline hover:border-red-600"
            href=""
            >Home</a
          >
        </li>
        <li>
          <a
            class="text-white rounded-md px-2 py-1 my-0 text-lg font-medium align-baseline bg-clip-content p-6 bg-transparent border-dashed hover:border-4 hover:border-red-600"
            href=""
            >Acerca de mí</a
          >
        </li>
        <li>
          <a
            class="text-white rounded-md px-2 py-1 my-0 text-lg font-medium align-baseline bg-clip-content p-6 bg-transparent border-dashed hover:border-4 hover:border-red-600"
            href=""
            >Proyectos</a
          >
        </li>
        <li>
          <a
            class="text-white rounded-md px-2 py-1 my-0 text-lg font-medium align-baseline bg-clip-content p-6 bg-transparent border-dashed hover:border-4 hover:border-red-600"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main
    class="main z-10 grid col-span-full grid-cols-2 h-3/4 row-start-2 row-end-2 mx-5"
  >
    <div class="col-span-1 row-span-2 my-2">
      <h1 class="text-3xl font-bold text-green-400 my-1">Carlos Almanza</h1>
      <div class="text-6xl font-extrabold">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-violet-600 to-rose-300 my-2"
          >Backend developer</span
        >
      </div>
      <p class="descripcion text-2xl text-violet-300 my-2">
        Soy desarrollador de software con experiencia en el desarrollo de
        aplicaciones y servicios web. Mi enfoque principal se centra en la
        construcción de soluciones eficientes utilizando tecnologías de
        vanguardia.
      </p>
    </div>

    <div
      class="illustration col-span-1 row-span-2 flex align-middle justify-center"
    >
      <img
        width="400"
        height="400"
        class="top-0"
        src="../../assets/svg/laptop-illustration.svg"
        alt=""
      />
    </div>
  </main>
  <footer class="footer z-10 col-span-full row-start-5 row-end-6 justify-around my-2 mx-6">
    <button
      type="button"
      class=" absolute bottom-2 right-6 text-white font-medium text-base px-5 py-2.5 text-center me-2 mb-2 bg-green-500 rounded-md border border-green-800 transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 hover:bg-rose-400 hover:border-red-600 duration-300"
    >
      Descargar CV
    </button>
  </footer>
  <div class="square z-0"></div>
</section>
